#custom{
    border: 0px black;
    border-radius: 20px;
    margin: 2.5rem 8rem ;
    
    /* height: 65px */
    
    
}

#academyname{
    color: rgb(255, 217, 0);
}


#beforethis::before{
    background: url('./contentimages/landingbackground2-transformed.png');
    content:"";
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.3; */
    background-attachment: fixed;


}

.fontsize{
    font-size: 1rem;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
    color: white;
}



#blackness{
    /* background-color: black;
    opacity: 0.2%; */
    height: fit-content;
    width: fit-content;
}

#landingcontainer{
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* position: absolute; */
    margin-left: 12vw;
    margin-bottom: 8.1vh;
    height: 75vh;
    font-size: 60px;
    color: white;
    font-weight: 500;
    width: 42vw;
}

#subtext{
    font-size: 15px;
    
    
}

#infocontainer{
    /* margin-top: 100vh; */
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    margin: 62px 360px;
    border-radius: 10px;
   
}

.infobox{
    
    padding: 74px 142px;
    /* border: 2px solid black; */
    border-radius: 0px;
}

#customcontactus{
    margin-right: 74vh;
    margin-top: 2vh;
    font-weight: 500;
}

#customcontactus:hover{
    color: white;
   
    /* border: 2px solid white; */
    background-color: rgb(255, 174, 0);
    
}


.infoheading{
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
    /* color: #00a1ff; */
    color:black ;
    font-weight: 700;
    text-transform: uppercase;
}

#leftinfo{
    background-image: url(./contentimages/infochanging/leftinfo.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: -4px;
    background-size: 40vh;
    height: 55vh;
    width: 70vh;
    
}

#rightinfo{
    padding: 98px 22px;
    height: 55vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    overflow-y: scroll; 
    
}

#rightinfo::-webkit-scrollbar{
    display: none;
}

.subheading{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    color:  rgb(255, 217, 0);
}



#explore{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    margin-top: 9rem;
    font-size:xx-large;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 217, 0) ;
    
}