#custom{
    border: 0px black;
    border-radius: 20px;
    margin: 2.5rem 8rem ;
    /* height: 65px */
    
    
}


#beforethis::before{
    background: url('./contentimages/landingbackground2.png');
    content:"";
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.3; */
    background-attachment: fixed;


}

.fontsize{
    font-size: 1rem;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
    color: white;
}

body{
    /* background-image: url(./content\ images/background.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-color: black; */
   
    background-size: cover;
}

/* .opauqe{
        opacity: 0.2;
} */

#blackness{
    /* background-color: black;
    opacity: 0.2%; */
    height: fit-content;
    width: fit-content;
}

#landingcontainer{
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* position: absolute; */
    margin-left: 12vw;
    margin-bottom: 8.1vh;
    height: 75vh;
    font-size: 60px;
    color: white;
    font-weight: 500;
    width: 42vw;
}

#landingsubtext{
    font-size: 20px;
    
}

#infocontainer{
    /* margin-top: 100vh; */
    
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    padding: 40px 40px;
    
}

.infobox{
    margin: 40px 40px ;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

#customcontactus{
    margin-right: 74vh;
    margin-top: 2vh;
}