#custom{
    border: 0px black;
    border-radius: 20px;
    margin: 2.5rem 8rem ;
    /* height: 65px */
    
    
}


p::before{
    background: url('./contentimages/background.jpg');
    content:"";
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
   
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;


}

.fontsize{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
    color: white;
}

body{
    /* background-image: url(./content\ images/background.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    background-color: black;
    height: 888px;
    background-size: cover;
}

.opauqe{
        opacity: 0.2;
}

#blackness{
    background-color: black;
    opacity: 0.2%;
    height: fit-content;
    width: fit-content;
}